@font-face {font-family: Agave; src: url('AgaveNerdFontMono-Regular.ttf') ;}
@font-face {font-family: AgaveBold; font-weight: bold; src: url('AgaveNerdFontMono-Bold.ttf')}
/* sans-serif for reading text and monospace for fancy text */

p {text-align: center; color: #E1E8EE; font-family: 'Agave', sans-serif; font-size: 35px;}
body {background-color: #0D1117;}
a {color: #E1E8EE; font-family: 'Agave', sans-serif}
span {position: absolute; top: 0; right: 25px; margin-left: 50px; font-size: 36px;}

a:hover{color: #ff0000;}
.license {text-align: center; font-size: 15px;}

.small p {text-align: center; color: #E1E8EE; font-family: 'Agave', sans-serif; font-size: 25px;}

.center {text-align: center; font-size: 50px;}

.container {display: inline-block;}
.text {
    color: #E1E8EE;
    font-size: 3em;
    letter-spacing: 4px;
    font-family: 'AgaveBold', monospace; 
    border-right: 5px solid;   
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(13),
        cursor .5s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    50% {border-color: transparent}
}

/* typing effect */
@keyframes typing {
    from {width: 0}
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #0D1117; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 70px;
    text-decoration: none;
    font-size: 25px;
    color: #E1E8EE;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #ff0000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
